body{box-shadow: 10px -10px 8px 10px;} /*I know this hasn't been discussed, but I 
searched online since my website felt so flat without it.*/
body, html {
    height: 100%;
    margin: 0;
}
.nonTitles{font-family: "Playfair Display"; text-align: justified;}
.titles{font-family: "Playfair Display Black";}
.banner_home{
    background-image: url("images/homepage_image.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}
.banner_guidelines{
    background-image: url("images/guideline_image.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}
.banner_tracker{
    background-image: url("images/tracker_image.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}
.banner_stories{
    background-image: url("images/story_image.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}
.banner_alert{
    background-image: url("images/alertguide_image.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}
.tab_bar{
    color: black;
    font-family: "Playfair Display Black";
    text-align: center; 
    background-color:rgb(217, 211, 171);
    width: 100%;
    position: fixed;
    box-shadow: 0px 2px 8px 0px black;
    z-index: 4;
    top: 43px;
    border-bottom: 1px solid black;
}
.sprite_bar{
    color: black;
    font-family: "Playfair Display Black";
    text-align: center; 
    background-color:rgb(217, 211, 171);
    width: 100%;
    position: fixed;
    z-index: 3;
}
.sprite_bar li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0px;
    display: block;
}
.fbsprite{
    background: url('images/sprites.png') no-repeat 0px 0px;
    width: 43.5px;
    height: 43px;
    z-index: 5;
    left: 0px;
    position: absolute;
}
.redditsprite{
    background: url('images/sprites.png') no-repeat -108px -0.4px;
    width: 43.5px;
    height: 43px;
    left: 100px;    
    z-index: 6;
    position: absolute;
}
.twtsprite{
    background: url('images/sprites.png') no-repeat -217px -1px;
    width: 43.5px;
    height: 43px;
    left: 200px;    
    z-index: 7;
    position: absolute;
}
.fbsprite:hover{background: url('images/sprites_hover.png') no-repeat 0px 0px;}
.redditsprite:hover{background: url('images/sprites_hover.png') no-repeat -108px -0.4px;}
.twtsprite:hover{background: url('images/sprites_hover.png') no-repeat -217px -1px;}
div.tab_bar div,div.tab_bar a{
    padding: 5px;
    float: left;
    width: 24.2%; /*This value seems to work better in my computer than 25%.*/
    text-decoration: none;
}
div.tab_bar a:link{color: black;}
div.tab_bar a:visited{color: black;}
div.tab_bar div:hover, div.tab_bar a:hover{background-color: rgb(255, 252, 235);}
.body_alt{
    background-color:beige; 
    border: solid 1px;
    box-shadow: 0px 2px 8px 0px gray;
    z-index: 0;
}
.body_alt_float{
    background-color:rgb(241, 245, 210);
    border: solid 1px;
    width: 100%;
    box-shadow: 0px 2px 5px 0px gray;
}
.text_block{
    text-align:justify;
    padding-left: 250px;
    padding-right: 250px;
}
.imgp2_first{
    float: right;
    width: 400px;
    right:0px;
    position: relative; 
    bottom: 50px;
    z-index: 1;
}
.imgp2_second{
    float: right;
    width: 350px;
    right: 25px;
    position: relative; 
    bottom: 50px;
    z-index: 1;
}
.imgp3_first{
    position: relative;
    float: right;
    height: 300px;
    z-index: 1;
    right: 100px;
    bottom: 37.5px;
    box-shadow: 0px 2px 8px 0px black;
}
.imgp3_second{
    position: absolute;
    float: right;
    right: 101px;
    height: 300px;
    bottom: -485px; /*these specific values work best for me for some reason*/
    z-index: 2;
    opacity: 0;
    animation-name: fadein_out;
    animation-duration: 7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes fadein_out{
    0%{opacity: 0;}
    5%{opacity: 0;}
    50%{opacity: 1;}
    95%{opacity: 0;}
    100%{opacity: 0;}
}
.container_p1{
    padding-left: 50px;
    padding-right: 50px;
    float: left;
    margin-bottom: 50px;
}
.box_p1{
    border: 1px solid black;
    background-color: rgb(241, 245, 210);
    box-shadow: 0px 2px 5px 0px gray;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    width: 250px;
}
a.box_p1:link{text-decoration: none; color: black;}
a.box_p1:visited{text-decoration: none; color: black;}
a.box_p1:hover{background-color: rgb(255, 252, 235);}

.odette{
    display: block;
    margin: auto;
    border: 1px solid black;
}

.bgcolor_alt{
    background-color: rgb(248, 248, 234);
    padding-bottom: 50px;
    box-shadow: 0px 2px 8px 0px black;
}

.noBullets{
    list-style-type: none;
}


